Source: jabberd2
Section: net
Priority: extra
Maintainer: Harald Braumann <harry@unheit.net>
Homepage: http://jabberd2.xiaoka.com/
Build-Depends: debhelper, autotools-dev, libexpat1-dev, libidn11-dev, libgsasl7-dev (>= 0.2.14), libssl-dev, libmysqlclient15-dev, libpq-dev, libsqlite3-dev, libdb4.2-dev, libldap2-dev, libpam0g-dev, libntlm0-dev
Standards-Version: 3.7.2

Package: jabberd2-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Next generation Jabber/XMPP server -- common files
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains common files for the jabberd2 server.

Package: jabberd2-authreg-anon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-authreg
Description: Jabber/XMPP server -- anonymous authentication package
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the authentication/registration package
 for anonymous access.

Package: jabberd2-authreg-db
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-authreg
Description: Jabber/XMPP server -- BerkeleyDB authentication package
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the authentication/registration package
 for BerkeleyDB.

Package: jabberd2-authreg-ldap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-authreg
Description: Jabber/XMPP server -- LDAP authentication package
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the authentication/registration package
 for LDAP.

Package: jabberd2-authreg-mysql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-authreg
Description: Jabber/XMPP server -- MySQL authentication package
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the authentication/registration package
 for MySQL.

Package: jabberd2-authreg-pam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, jabberd2-common, adduser
Provides: jabberd2-authreg
Description: Jabber/XMPP server -- PAM authentication package
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the authentication/registration package
 for PAM.

Package: jabberd2-authreg-pgsql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-authreg
Description: Jabber/XMPP server -- PostgreSQL authentication package
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the authentication/registration package
 for PostgreSQL.

Package: jabberd2-authreg-pipe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-authreg
Description: Jabber/XMPP server -- pipe authentication package
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the authentication/registration package
 for using an external programme through a pipe.

Package: jabberd2-authreg-sqlite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-authreg
Description: Jabber/XMPP server -- SQLite authentication package
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the authentication/registration package
 for SQLite.

Package: jabberd2-storage-db
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-storage
Description: Jabber/XMPP server -- BerkeleyDB storage backend
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the BerkeleyDB storage backend.

Package: jabberd2-storage-fs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-storage
Description: Jabber/XMPP server -- file system storage backend
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the file system storage backend.

Package: jabberd2-storage-mysql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-storage
Description: Jabber/XMPP server -- MySQL storage backend
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the MySQL storage backend.

Package: jabberd2-storage-pgsql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-storage
Description: Jabber/XMPP server -- PostgreSQL storage backend
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the PostgreSQL storage backend.

Package: jabberd2-storage-sqlite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: jabberd2-storage
Description: Jabber/XMPP server -- SQLite storage backend
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the SQLite storage backend.

Package: jabberd2-router
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, jabberd2-common
Description: Jabber/XMPP server -- route component
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the router component, which is used by all
 the other components to communicate to each other.

Package: jabberd2-s2s
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, jabberd2-common
Description: Jabber/XMPP server -- s2s component
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the s2s (server to server) component, which 
 handles the communication with other Jabber servers.

Package: jabberd2-c2s
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, jabberd2-common, jabberd2-authreg-pam | jabberd2-authreg
Description: Jabber/XMPP server -- c2s component
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the c2s (client to server) component, which
 handles connections from clients.

Package: jabberd2-sm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, jabberd2-common, jabberd2-storage-db | jabberd2-storage
Description: Jabber/XMPP server -- sm component
 jabberd 2.x series is the next generation of the Jabber/XMPP server.
 It has been rewritten from the ground up to be scalable, 
 architecturally sound and to support the latest protocol extensions 
 coming out of the XSF.
 .
 This package contains the sm (session manager) component, which
 handles the buld of the IM functionality, like message passing,
 presence, roster, etc.
