.libs/
.deps/
*.o
*.lo
*.la
*.so
*~
*.swp
Makefile
Makefile.in
aclocal.m4
ac-stdint.h
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
Doxyfile
INSTALL
install-sh
libtool
ltmain.sh
missing
stamp-h1
compile
c2s/c2s
etc/*.conf
etc/*.cfg.dist
etc/*.xml.dist
etc/templates/*.xml.dist
man/c2s.8
man/jabberd.8
man/resolver.8
man/router.8
man/s2s.8
man/sm.8
router/router
s2s/s2s
sm/sm
tools/jabberd
tests/config/configtest
docs/code
/tests/check_config
/tests/check_nad
/test-driver
