
 *** Configuration values substitution ***

Node data in config is refernced as ${node.name}, for example ${id} wil be replaced with value of node <id>

- First occurence of node is used for substitution.
 For instance,value of 'asd' wil be 'value1', not 'value2' in following sample:

<sm>
    <qqq>value1</qqq>
    <qqq>value2</qqq>
    <asd>${qqq}</asd>
</sm>

- Multiple variable substitution is supported '${qqq}_${qqq}' from example above will be substituted as 'value1_value1'

- Nested substitution is supported. var3 will contain 'prefix_value-of-v_suffix' in sample below:

<sm>
    <var1>value-of-v</var1>
    <var2>prefix_${var1}_suffix</var2>
    <var3>${var2}</var3>
 </sm>

- ${..} is replaced with node's content defined above only.
 ${some.node} must be used after <some><node>val</node></some> otherwise warning will be logged.
 The following config will cause warning upon loading:

<sm>
    <var2>${var1}</var2>
    <var1>value-of-v</var1>
 </sm>
