h1#logo { display: inline-block; }
h1#logo a { display: block; text-indent: -9999px; width: 222px; height: 50px; background: url(jabberd_logo.png) no-repeat; }
ul#navigation { display: inline-block; font-weight: bold; }
ul#navigation li { display: inline; white-space: nowrap; margin-right: 1em; }

body { font-family: 'Proza Libre', sans-serif; columns: 32em; column-rule: 1px dotted rgba(0, 0, 0, 0.3); }
h1, h2, h3, h4 { font-family: 'Cormorant Garamond', serif; }
h2 { font-size: 2em; }
p { padding: 0.2em 1em; }
tt { font-family: 'Anonymous Pro', monospace; white-space: nowrap; }
