<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="INSTALLDIR" FileSource="$(var.TargetDir)">
			<Component Id="libmysql.dll" Guid="{10A12E1B-55F5-43C1-955D-729CA860416B}">
				<File Id="libmysql.dll" Name="libmysql.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="libexpat.dll" Guid="{28B2C906-9655-48F4-BFD4-9448FB504750}">
				<File Id="libexpat.dll" Name="libexpat.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="libidn.dll" Guid="{68DC74AB-28C9-4C96-841A-BC6E3020243E}">
				<File Id="libidn.dll" Name="libidn.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="sqlite3.dll" Guid="{53BCD278-9B09-4246-BEED-C38695F7A6A8}">
				<File Id="sqlite3.dll" Name="sqlite3.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="udns.dll" Guid="{7A0B45E4-6A3E-48FC-9A2B-85702A398F1B}">
				<File Id="udns.dll" Name="udns.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="zlib1.dll" Guid="{D0FCED72-651D-4E1B-BFA5-85BCA9E337C9}">
				<File Id="zlib1.dll" Name="zlib1.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="libeay32.dll" Guid="{3ABC0783-B198-4FCC-8C71-625F58CCBE51}">
				<File Id="libeay32.dll" Name="libeay32.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="ssleay32.dll" Guid="{4979A2FF-254D-449B-94F2-17DFB5A6D6D6}">
				<File Id="ssleay32.dll" Name="ssleay32.dll" KeyPath="yes" Vital="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="Libraries">
			<ComponentRef Id="libmysql.dll" />
			<ComponentRef Id="libexpat.dll" />
			<ComponentRef Id="libidn.dll" />
			<ComponentRef Id="sqlite3.dll" />
			<ComponentRef Id="udns.dll" />
			<ComponentRef Id="zlib1.dll" />
			<ComponentRef Id="libeay32.dll" />
			<ComponentRef Id="ssleay32.dll" />
		</ComponentGroup>
	</Fragment>
</Wix>