<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="ModulesDir" FileSource="$(var.TargetDir)\modules">
			<Component Id="authreg_anon.dll" Guid="{2801B3BA-A499-47E6-B345-3ABA71D9C8DA}">
				<File Id="authreg_anon.dll" Name="authreg_anon.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="authreg_mysql.dll" Guid="{FC2B8A7D-07EE-46EB-AC73-B48841454B9E}">
				<File Id="authreg_mysql.dll" Name="authreg_mysql.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="authreg_ntlogon.dll" Guid="{50AFB047-D221-412D-BCDD-E2EC87BD0E8B}">
				<File Id="authreg_ntlogon.dll" Name="authreg_ntlogon.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="authreg_sqlite.dll" Guid="{B988F232-D183-4DB5-870D-934F77102635}">
				<File Id="authreg_sqlite.dll" Name="authreg_sqlite.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="authreg_sspi.dll" Guid="{CD3B4C55-A7EE-484E-AAB5-72F310DB1AA0}">
				<File Id="authreg_sspi.dll" Name="authreg_sspi.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_active.dll" Guid="{7B9FE117-4850-4ECF-BE3C-50DE8F7890B0}">
				<File Id="mod_active.dll" Name="mod_active.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_amp.dll" Guid="{01C261B2-E6C7-453E-BDDE-D31212E417A2}">
				<File Id="mod_amp.dll" Name="mod_amp.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_announce.dll" Guid="{DD4DB0C0-11AF-4334-9C92-9E0B3405238E}">
				<File Id="mod_announce.dll" Name="mod_announce.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_deliver.dll" Guid="{F6DC414E-1436-4455-B427-A712D0585AF1}">
				<File Id="mod_deliver.dll" Name="mod_deliver.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_discopublish.dll" Guid="{F88B4012-C199-4A31-8E8F-FB2189A3AF0C}">
				<File Id="mod_discopublish.dll" Name="mod_disco-publish.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_disco.dll" Guid="{1396DE84-5B5B-46A3-8D0B-0B992C9E4AA9}">
				<File Id="mod_disco.dll" Name="mod_disco.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_echo.dll" Guid="{56B33E35-932C-496D-AF07-17FE6330F0BF}">
				<File Id="mod_echo.dll" Name="mod_echo.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_help.dll" Guid="{75BA1193-9370-4412-B19F-99AD3362B7AC}">
				<File Id="mod_help.dll" Name="mod_help.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_iqlast.dll" Guid="{713A54DB-B00B-4383-A349-408BB6121A36}">
				<File Id="mod_iqlast.dll" Name="mod_iq-last.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_iqping.dll" Guid="{A9DD9803-CEF6-47B2-8D4D-254A3B603AD7}">
				<File Id="mod_iqping.dll" Name="mod_iq-ping.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_iqprivate.dll" Guid="{F14BCCF3-BFF4-4641-A0DB-2FBDB9DB03A8}">
				<File Id="mod_iqprivate.dll" Name="mod_iq-private.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_iqtime.dll" Guid="{22650353-0F56-41EE-B321-00D140C719F2}">
				<File Id="mod_iqtime.dll" Name="mod_iq-time.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_iqvcard.dll" Guid="{FBFB22D2-0594-4F32-A114-4ADDCAB9874D}">
				<File Id="mod_iqvcard.dll" Name="mod_iq-vcard.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_iqversion.dll" Guid="{211EAC8A-963A-4813-B293-A5BDCDA4D9E5}">
				<File Id="mod_iqversion.dll" Name="mod_iq-version.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_offline.dll" Guid="{4ECFBB60-269E-4222-986F-B2919F216A81}">
				<File Id="mod_offline.dll" Name="mod_offline.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_presence.dll" Guid="{82220B4C-A18E-4E59-BBEB-2A63C702A809}">
				<File Id="mod_presence.dll" Name="mod_presence.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_privacy.dll" Guid="{6C619BCE-A850-4E82-9307-50E4520BE79F}">
				<File Id="mod_privacy.dll" Name="mod_privacy.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_roster.dll" Guid="{437373A4-53C1-4B06-9459-9467C7514DB8}">
				<File Id="mod_roster.dll" Name="mod_roster.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_rosterpublish.dll" Guid="{A3706FEE-3A58-4175-A91F-8C66E5C2078B}">
				<File Id="mod_rosterpublish.dll" Name="mod_roster-publish.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_session.dll" Guid="{3630201D-7112-436E-B4F5-E1683BE6C57B}">
				<File Id="mod_session.dll" Name="mod_session.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_status.dll" Guid="{E47BFDB6-BDBB-4DCD-AFA3-201349274B9F}">
				<File Id="mod_status.dll" Name="mod_status.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_templateroster.dll" Guid="{914F3FAA-8641-47EE-90FF-6E9E91E16041}">
				<File Id="mod_templateroster.dll" Name="mod_template-roster.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_vacation.dll" Guid="{77F1A3C2-B611-4609-BA9A-EEC5D2881460}">
				<File Id="mod_vacation.dll" Name="mod_vacation.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="mod_validate.dll" Guid="{DA34D6BE-2BE4-41C8-AF01-4B13C1024E4B}">
				<File Id="mod_validate.dll" Name="mod_validate.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="storage_mysql.dll" Guid="{9DC4348B-D28F-47FF-AD11-0540671A9B8E}">
				<File Id="storage_mysql.dll" Name="storage_mysql.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="storage_sqlite.dll" Guid="{2603734F-2F90-4EE4-8A53-63F480841CDA}">
				<File Id="storage_sqlite.dll" Name="storage_sqlite.dll" KeyPath="yes" Vital="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="Modules">
			<ComponentRef Id="authreg_anon.dll" />
			<ComponentRef Id="authreg_mysql.dll" />
			<ComponentRef Id="authreg_ntlogon.dll" />
			<ComponentRef Id="authreg_sqlite.dll" />
			<ComponentRef Id="authreg_sspi.dll" />
			<ComponentRef Id="mod_active.dll" />
			<ComponentRef Id="mod_amp.dll" />
			<ComponentRef Id="mod_announce.dll" />
			<ComponentRef Id="mod_deliver.dll" />
			<ComponentRef Id="mod_discopublish.dll" />
			<ComponentRef Id="mod_disco.dll" />
			<ComponentRef Id="mod_echo.dll" />
			<ComponentRef Id="mod_help.dll" />
			<ComponentRef Id="mod_iqlast.dll" />
			<ComponentRef Id="mod_iqping.dll" />
			<ComponentRef Id="mod_iqprivate.dll" />
			<ComponentRef Id="mod_iqtime.dll" />
			<ComponentRef Id="mod_iqvcard.dll" />
			<ComponentRef Id="mod_iqversion.dll" />
			<ComponentRef Id="mod_offline.dll" />
			<ComponentRef Id="mod_presence.dll" />
			<ComponentRef Id="mod_privacy.dll" />
			<ComponentRef Id="mod_roster.dll" />
			<ComponentRef Id="mod_rosterpublish.dll" />
			<ComponentRef Id="mod_session.dll" />
			<ComponentRef Id="mod_status.dll" />
			<ComponentRef Id="mod_templateroster.dll" />
			<ComponentRef Id="mod_vacation.dll" />
			<ComponentRef Id="mod_validate.dll" />
			<ComponentRef Id="storage_mysql.dll" />
			<ComponentRef Id="storage_sqlite.dll" />
		</ComponentGroup>
	</Fragment>
</Wix>