<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="INSTALLDIR" FileSource="$(var.TargetDir)">
			<Component Id="libgsasl.dll" Guid="{E390362B-74D0-400A-B531-7F49ADBB98A2}">
				<File Id="libgsasl.dll" Name="libgsasl.dll" KeyPath="yes" Vital="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="SASL">
			<ComponentRef Id="libgsasl.dll" />
		</ComponentGroup>
	</Fragment>
</Wix>