<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
		<DirectoryRef Id="INSTALLDIR" FileSource="$(var.TargetDir)">
			<Component Id="c2s.exe" Guid="{77DD37C2-8852-4347-8EFE-6FC85A988B30}">
				<File Id="c2s.exe" Name="c2s.exe" KeyPath="yes" Vital="yes" />
				<RemoveFile Id="c2s.log" Name="c2s.log" On="uninstall" />
				<RemoveFile Id="c2s.pid" Name="c2s.pid" On="uninstall" />
				<ServiceInstall Arguments="-S" ErrorControl="normal" Start="auto" Type="ownProcess" Vital="yes"
								Id="jabberd2c2s" Name="jabberd2c2s" DisplayName="Jabber 2 C2S"
								Description="Jabber Open Source Server: Client to Server">
					<ServiceDependency Id="jabberd2router" />
				</ServiceInstall>
				<ServiceControl Id="jabberd2c2s" Name="jabberd2c2s" Remove="uninstall" Start="install" Stop="both" Wait="yes" />
			</Component>
			<Component Id="c2s.dist.xml" Guid="{CFC12491-EB7B-4BFA-A0E1-4342A68DC481}">
				<Condition>C2S.XML.EXISTS</Condition>
				<File Id="c2s.dist.xml" Name="c2s.dist.xml" Vital="yes" Source="$(var.TargetDir)\c2s.xml" />
			</Component>
			<Component Id="c2s.xml" Guid="{C6B805D9-9171-48A3-93BC-2DF99357F791}" Permanent="yes">
				<Condition>NOT C2S.XML.EXISTS</Condition>
				<File Id="c2s.xml" Name="c2s.xml" Vital="yes" KeyPath="yes" />
				<util:XmlFile Id="c2s.configure" Action="setValue" ElementPath="/c2s/local/id"
							  File="[INSTALLDIR]\c2s.xml" Value="[DOMAIN]" />
			</Component>

			<Component Id="router.exe" Guid="{B633B226-3A8C-4E25-A26D-0786EC08D217}">
				<File Id="router.exe" Name="router.exe" KeyPath="yes" Vital="yes" />
				<RemoveFile Id="router.log" Name="router.log" On="uninstall" />
				<RemoveFile Id="router.pid" Name="router.pid" On="uninstall" />
				<ServiceInstall Arguments="-S" ErrorControl="normal" Start="auto" Type="ownProcess" Vital="yes"
								Id="jabberd2router" Name="jabberd2router" DisplayName="Jabber 2 Router"
								Description="Jabber Open Source Server: Router" />
				<ServiceControl Id="jabberd2router" Name="jabberd2router" Remove="uninstall" Start="install" Stop="both" Wait="yes" />
			</Component>
			<Component Id="router.dist.xml" Guid="{177EB263-58C5-4E48-AFA2-C4EEBF9C5726}">
				<Condition>ROUTER.XML.EXISTS</Condition>
				<File Id="router.dist.xml" Name="router.dist.xml" Vital="yes" Source="$(var.TargetDir)\router.xml" />
			</Component>
			<Component Id="router_filter.dist.xml" Guid="{C894E253-4C89-462A-89AA-66A0D353C1BA}">
				<Condition>ROUTER_FILTER.XML.EXISTS</Condition>
				<File Id="router_filter.dist.xml" Name="router-filter.dist.xml" Vital="yes" Source="$(var.TargetDir)\router-filter.xml" />
			</Component>
			<Component Id="router_users.dist.xml" Guid="{0CD59F12-52B9-403A-8687-572D1B44A217}">
				<Condition>ROUTER_USERS.XML.EXISTS</Condition>
				<File Id="router_users.dist.xml" Name="router-users.dist.xml" Vital="yes" Source="$(var.TargetDir)\router-users.xml" />
			</Component>
			<Component Id="router.xml" Guid="{15EC6601-ACB1-48B7-AC01-38F3CED13E9D}" Permanent="yes">
				<Condition>NOT ROUTER.XML.EXISTS</Condition>
				<File Id="router_router.xml" Name="router.xml" Vital="yes" KeyPath="yes" />
			</Component>
			<Component Id="router_filter.xml" Guid="{A73E50B0-74DA-47D1-AB12-7377271F58C6}" Permanent="yes">
				<Condition>NOT ROUTER_FILTER.XML.EXISTS</Condition>
				<File Id="router_filter.xml" Name="router-filter.xml" Vital="yes" KeyPath="yes" />
			</Component>
			<Component Id="router_users.xml" Guid="{8A9EB164-7BE9-49A0-9C4D-4CF5FCC55233}" Permanent="yes">
				<Condition>NOT ROUTER_USERS.XML.EXISTS</Condition>
				<File Id="router_users.xml" Name="router-users.xml" Vital="yes" KeyPath="yes" />
			</Component>

			<Component Id="s2s.exe" Guid="{CEDBD464-DD63-4430-8469-3F3C27A06C90}">
				<File Id="s2s.exe" Name="s2s.exe" KeyPath="yes" Vital="yes" />
				<RemoveFile Id="s2s.log" Name="s2s.log" On="uninstall" />
				<RemoveFile Id="s2s.pid" Name="s2s.pid" On="uninstall" />
				<ServiceInstall Arguments="-S" ErrorControl="normal" Start="auto" Type="ownProcess" Vital="yes"
								Id="jabberd2s2s" Name="jabberd2s2s" DisplayName="Jabber 2 S2S"
								Description="Jabber Open Source Server: Server to Server">
					<ServiceDependency Id="jabberd2router" />
				</ServiceInstall>
				<ServiceControl Id="jabberd2s2s" Name="jabberd2s2s" Remove="uninstall" Start="install" Stop="both" Wait="yes" />
			</Component>
			<Component Id="s2s.dist.xml" Guid="{44A615A2-9452-4AD6-AFD6-7D52BE6E7EF5}">
				<Condition>S2S.XML.EXISTS</Condition>
				<File Id="s2s.dist.xml" Name="s2s.dist.xml" Vital="yes" Source="$(var.TargetDir)\s2s.xml" />
			</Component>
			<Component Id="s2s.xml" Guid="{554A5AFC-CA6C-45A8-AFB8-65F51C108861}" Permanent="yes">
				<Condition>NOT S2S.XML.EXISTS</Condition>
				<File Id="s2s.xml" Name="s2s.xml" Vital="yes" KeyPath="yes" />
			</Component>

			<Component Id="sm.exe" Guid="{B5C795C8-6FFC-441C-9F7C-6846124C2D43}">
				<File Id="sm.exe" Name="sm.exe" KeyPath="yes" Vital="yes" />
				<RemoveFile Id="sm.log" Name="sm.log" On="uninstall" />
				<RemoveFile Id="sm.pid" Name="sm.pid" On="uninstall" />
				<ServiceInstall Arguments="-S" ErrorControl="normal" Start="auto" Type="ownProcess" Vital="yes"
								Id="jabberd2sm" Name="jabberd2sm" DisplayName="Jabber 2 Session Manager"
								Description="Jabber Open Source Server: Session Manager">
					<ServiceDependency Id="jabberd2router" />
				</ServiceInstall>
				<ServiceControl Id="jabberd2sm" Name="jabberd2sm" Remove="uninstall" Start="install" Stop="both" Wait="yes" />
			</Component>
			<Component Id="sm.dist.xml" Guid="{7A694B6F-FB52-42B2-8D23-06E6C725E1D0}">
				<Condition>SM.XML.EXISTS</Condition>
				<File Id="sm.dist.xml" Name="sm.dist.xml" Vital="yes" Source="$(var.TargetDir)\sm.xml" />
			</Component>
			<Component Id="sm.xml" Guid="{74E3ADAC-1CE9-41A4-9B30-3CA98D2E6BDA}" Permanent="yes">
				<Condition>NOT SM.XML.EXISTS</Condition>
				<File Id="sm.xml" Name="sm.xml" Vital="yes" KeyPath="yes" />
				<util:XmlFile Id="smConfigure" Action="setValue" ElementPath="/sm/id"
							  File="[INSTALLDIR]\sm.xml" Value="[DOMAIN]" />
			</Component>

			<Component Id="server.dist.pem" Guid="{B397D554-041C-4142-B4B0-7DB105001DE1}">
				<Condition>SERVER.PEM.EXISTS</Condition>
				<File Id="server.dist.pem" Name="server.dist.pem" Vital="yes" Source="$(var.TargetDir)\server.pem" />
			</Component>
			<Component Id="server.pem" Guid="{8AA5D8A8-A7EC-4F9F-BD19-FE0DD03BA620}" Permanent="yes">
				<Condition>NOT SERVER.PEM.EXISTS</Condition>
				<File Id="server.pem" Name="server.pem" KeyPath="yes" Vital="yes" />
			</Component>

			<Component Id="jabberd2.dll" Guid="{4C6C8EBD-DB23-498C-8E1E-0254631AB252}">
				<File Id="jabberd2.dll" Name="jabberd2.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="dbsetup.mysql" Guid="{0EE029D6-DFD1-4F20-A910-02B472940D7F}">
				<File Id="dbsetup.mysql" Name="db-setup.mysql" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="dbupdate.mysql" Guid="{E6CEA2B8-BFF6-4969-9B4E-3F6F5AF8CB06}">
				<File Id="dbupdate.mysql" Name="db-update.mysql" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="dbsetup.sqlite" Guid="{5C39F304-CD9E-4488-8C8D-5C629EB315D1}">
				<File Id="dbsetup.sqlite" Name="db-setup.sqlite" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="dbupdate.sqlite" Guid="{609ED973-93AE-4CCF-8B04-661DEBDC466E}">
				<File Id="dbupdate.sqlite" Name="db-update.sqlite" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="sqlite.dist.db" Guid="{928DD3B5-F429-45C4-B677-F3A2FFE23051}">
				<Condition>SQLITE.DB.EXISTS</Condition>
				<File Id="sqlite.dist.db" Name="sqlite.dist.db" KeyPath="yes" Vital="yes" Source="$(var.TargetDir)\sqlite.db" />
			</Component>
			<Component Id="sqlite.db" Guid="{54949691-C375-45B4-9936-D10967CCD0B2}" Permanent="yes">
				<Condition>NOT SQLITE.DB.EXISTS</Condition>
				<File Id="sqlite.db" Name="sqlite.db" KeyPath="yes" Vital="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="Services">
			<ComponentRef Id="c2s.exe" />
			<ComponentRef Id="c2s.xml" />
			<ComponentRef Id="c2s.dist.xml" />
			<ComponentRef Id="router.exe" />
			<ComponentRef Id="router.xml" />
			<ComponentRef Id="router.dist.xml" />
			<ComponentRef Id="router_filter.xml" />
			<ComponentRef Id="router_filter.dist.xml" />
			<ComponentRef Id="router_users.xml" />
			<ComponentRef Id="router_users.dist.xml" />
			<ComponentRef Id="s2s.exe" />
			<ComponentRef Id="s2s.xml" />
			<ComponentRef Id="s2s.dist.xml" />
			<ComponentRef Id="sm.exe" />
			<ComponentRef Id="sm.xml" />
			<ComponentRef Id="sm.dist.xml" />
			<ComponentRef Id="server.pem" />
			<ComponentRef Id="server.dist.pem" />
			<ComponentRef Id="jabberd2.dll" />
			<ComponentRef Id="dbsetup.mysql" />
			<ComponentRef Id="dbupdate.mysql" />
			<ComponentRef Id="dbsetup.sqlite" />
			<ComponentRef Id="dbupdate.sqlite" />
			<ComponentRef Id="sqlite.dist.db" />
			<ComponentRef Id="sqlite.db" />
		</ComponentGroup>
	</Fragment>
</Wix>