<?xml version="1.0" encoding="UTF-8"?>
<?include "../include/version.wxi" ?>
<?define ProductName = "jabberd $(var.ProductVersion) for Windows" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="$(var.ProductName)" xmlns:De="http://schemas.microsoft.com/wix/2006/wi" Language="1033" Version="$(var.ProductFileVersion)" Manufacturer="jabberd2" UpgradeCode="5f4d7239-76fb-40e6-92b4-cb4aff5082d0">
		<Package InstallerVersion="200" Compressed="yes" Description="$(var.ProductName) installer" Keywords="jabber" />

		<Media Id="1" Cabinet="setup.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="jabberd2">
					<Directory Id="ModulesDir" Name="modules" />
				</Directory>
			</Directory>
		</Directory>

		<Upgrade Id="5f4d7239-76fb-40e6-92b4-cb4aff5082d0">
			<UpgradeVersion OnlyDetect="yes" Property="NEWER_VER_FOUND" IncludeMinimum="yes"
							Minimum="$(var.ProductFileVersion)" />
			<UpgradeVersion Property="OLDER_VER_FOUND" IncludeMinimum="yes"
							Minimum="1.0.0" IncludeMaximum="no" Maximum="$(var.ProductFileVersion)" />
		</Upgrade>

		<Feature Id="Complete" Title="$(var.ProductName)" Description="Complete package" Display="expand"
				 Level="1" ConfigurableDirectory="INSTALLDIR">
			<Feature Id="jabberd2" Title="$(var.ProductName)" Level="1">
				<ComponentGroupRef Id="Libraries" />
				<ComponentGroupRef Id="SASL" />
				<ComponentGroupRef Id="Services" />
				<ComponentGroupRef Id="Modules" />
			</Feature>
		</Feature>

		<WixVariable Id="WixUILicenseRtf" Value="license\GPL.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="bitmaps\banner.jpg" />
		<WixVariable Id="WixUIDialogBmp" Value="bitmaps\background.jpg" />

		<InstallExecuteSequence>
			<FindRelatedProducts Before="LaunchConditions" />
			<RemoveExistingProducts After="InstallValidate" />
		</InstallExecuteSequence>

		<InstallUISequence>
			<FindRelatedProducts Before="LaunchConditions" />
			<Show Dialog="JabberWelcomeDlg" Before="ProgressDlg">NOT Installed</Show>
		</InstallUISequence>

		<Property Id="VC9SP1RTM">
			<DirectorySearch Id="VC9SP1RTM" Path="[WindowsFolder]WinSxS\x86_Microsoft.VC90.CRT_1fc8b3b9a1e18e3b_9.0.30729.1_x-ww_6f74963e">
				<FileSearch Id="VC9SP1RTM" Name="msvcr90.dll"/>
			</DirectorySearch>
		</Property>
		<Property Id="VC9SP1RTM_VISTA">
			<DirectorySearch Id="VC9SP1RTM_VISTA" Path="[WindowsFolder]WinSxS\x86_microsoft.vc90.crt_1fc8b3b9a1e18e3b_9.0.30729.1_none_e163563597edeada">
				<FileSearch Id="VC9SP1RTM_VISTA" Name="msvcr90.dll"/>
			</DirectorySearch>
		</Property>
		<Property Id="VC9SP1RTM_WINDOWS7">
			<DirectorySearch Id="VC9SP1RTM_WINDOWS7" Path="[WindowsFolder]WinSxS\x86_microsoft.vc90.crt_1fc8b3b9a1e18e3b_9.0.30729.715_none_90ba96fe148b75ae">
				<FileSearch Id="VC9SP1RTM_WINDOWS7" Name="msvcr90.dll"/>
			</DirectorySearch>
		</Property>

		<Condition Message="Please install Visual C++ 2008 SP1 Redistributable Package (x86).

http://www.microsoft.com/downloads/details.aspx?familyid=A5C84275-3B97-4AB7-A40D-3802B2AF5FC2">
			VC9SP1RTM OR VC9SP1RTM_VISTA OR VC9SP1RTM_WINDOWS7
		</Condition>
		<Condition Message="A later version of [ProductName] is already installed.">
			NOT NEWER_VER_FOUND
		</Condition>

		<UIRef Id="WixUI_Common" />
		<UIRef Id="jabberd2UI" />
	</Product>
</Wix>
