<?xml version="1.0" encoding="UTF-8"?>
<?include "../include/version.wxi" ?>
<?define ProductName = "jabberd $(var.ProductVersion) for Windows" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="$(var.ProductName)" xmlns:De="http://schemas.microsoft.com/wix/2006/wi" Language="1033" Version="$(var.ProductFileVersion)" Manufacturer="jabberd2" UpgradeCode="5f4d7239-76fb-40e6-92b4-cb4aff5082d0">
		<Package InstallerVersion="200" Compressed="yes" Description="$(var.ProductName) installer" Keywords="jabber" />

		<Media Id="1" Cabinet="setup.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="jabberd2">
					<Directory Id="ModulesDir" Name="modules" />
				</Directory>
			</Directory>
		</Directory>

		<Upgrade Id="5f4d7239-76fb-40e6-92b4-cb4aff5082d0">
			<UpgradeVersion OnlyDetect="yes" Property="NEWER_VER_FOUND" IncludeMinimum="yes"
							Minimum="$(var.ProductFileVersion)" />
			<UpgradeVersion Property="OLDER_VER_FOUND" IncludeMinimum="yes"
							Minimum="1.0.0" IncludeMaximum="no" Maximum="$(var.ProductFileVersion)" />
		</Upgrade>

		<Feature Id="Complete" Title="$(var.ProductName)" Description="Complete package" Display="expand"
				 Level="1" ConfigurableDirectory="INSTALLDIR">
			<Feature Id="jabberd2" Title="$(var.ProductName)" Level="1">
				<ComponentGroupRef Id="Libraries" />
				<ComponentGroupRef Id="SASL" />
				<ComponentGroupRef Id="Services" />
				<ComponentGroupRef Id="Modules" />
			</Feature>
		</Feature>

		<WixVariable Id="WixUILicenseRtf" Value="license\GPL.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="bitmaps\banner.jpg" />
		<WixVariable Id="WixUIDialogBmp" Value="bitmaps\background.jpg" />

		<InstallExecuteSequence>
			<FindRelatedProducts Before="LaunchConditions" />
			<RemoveExistingProducts After="InstallValidate" />
		</InstallExecuteSequence>

		<InstallUISequence>
			<FindRelatedProducts Before="LaunchConditions" />
			<Show Dialog="JabberWelcomeDlg" Before="ProgressDlg">NOT Installed</Show>
		</InstallUISequence>

		<Property Id="SSLEAY32">
			<DirectorySearch Id="SSLEAY32" Path="[WindowsFolder]\system32">
				<FileSearch Id="SSLEAY32" Name="ssleay32.dll"/>
			</DirectorySearch>
		</Property>
		<Property Id="LIBEAY32">
			<DirectorySearch Id="LIBEAY32" Path="[WindowsFolder]\system32">
				<FileSearch Id="LIBEAY32" Name="libeay32.dll"/>
			</DirectorySearch>
		</Property>

		<Property Id="VC8SP1RTM">
			<DirectorySearch Id="VC8SP1RTM" Path="[WindowsFolder]WinSxS\x86_Microsoft.VC80.CRT_1fc8b3b9a1e18e3b_8.0.50727.762_x-ww_6b128700">
				<FileSearch Id="VC8SP1RTM" Name="msvcr80.dll"/>
			</DirectorySearch>
		</Property>

		<Condition Message="Please install Visual C++ 2005 SP1 Redistributable Package (x86).

http://www.microsoft.com/downloads/details.aspx?FamilyID=200B2FD9-AE1A-4A14-984D-389C36F85647">
			VC8SP1RTM
		</Condition>
		<Condition Message="Please install Win32 OpenSSL (Light) 0.9.8 or higher.

http://www.slproweb.com/products/Win32OpenSSL.html">
			SSLEAY32 AND LIBEAY32
		</Condition>
		<Condition Message="A later version of [ProductName] is already installed.">
			NOT NEWER_VER_FOUND
		</Condition>

		<UIRef Id="WixUI_Common" />
		<UIRef Id="jabberd2UI" />
	</Product>
</Wix>
